fastapi
uvicorn[standard]
sqlmodel
aiomysql
pymysql
cryptography
qrcode[pil]
python-multipart
jinja2
websockets
passlib[bcrypt]
google-genai
python-dotenv
reportlab
pytz
stripe
httpx
python-jose[cryptography]
Pillow
google-cloud-storage
